---
  env:
    browser: true
    node: true
  parser: babel-eslint
  parserOptions:
    sourceType: module
    ecmaFeatures:
      experimentalObjectRestSpread: true
      impliedStrict: true
  globals:
    Symbol: true
  extends:
    - eslint:recommended
    - plugin:import/errors
    - plugin:import/warnings
